{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HERO SECTION -->
<section class="hero-section d-flex align-items-center">

    <!-- OVERLAY -->
    <div class="hero-overlay"></div>

    <div class="container position-relative">
        <div class="row align-items-center">

            <!-- LEFT -->
            <div class="col-lg-6 hero-text">

                <span class="top-badge moving-badge">
                    Trusted Diagnostic Centre - Nairobi CBD
                </span>

                <h1 class="hero-title mt-3">
                    Accurate Ultrasound Scan & X-Ray Services
                </h1>

                <p class="hero-subtitle mt-3">
                    Fast results, professional care, modern imaging equipment and easy booking.
                </p>

                <div class="hero-buttons mt-4">
                    <a href="{% url 'book' %}" class="btn btn-primary btn-lg">
                        Book Appointment
                    </a>


                    <a href="{% url 'services' %}" class="btn service-btn btn-lg">
                        Explore Services
                    </a>
                   
                </div>

            </div>

            <!-- RIGHT -->
            <div class="col-lg-6 text-center">
                <img src="{% static 'images/clinic.png' %}" class="hero-image img-fluid">
            </div>

        </div>
    </div>

</section>

{% endblock %}