{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">

        <div class="text-center mb-5">
            <h1 class="fw-bold">Ultrasound Services</h1>
            <p class="text-muted">
                Accurate and reliable ultrasound imaging.
            </p>
        </div>

        <div class="row g-4">

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/early.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Early Pregnancy Scan</h4>
                        <p>Usually done in 1st trimester to help confirm pregnancy, check the baby heartbeat and growth, estimate gestational age, determine location of the pregnancy. Also help rule out ectopic pregnancy, miscarriage and bleeding complications.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/toto.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Obstetrics_Pregnancy Scan</h4>
                        <p>Anomaly scan usually done in 2nd or 3rd trimester is used to monitor your baby growth, development and wellbeing. It checks the baby position, heartbeat, movements, placenta, amniotic fluid and overall growth, while helping detect/rule out any anomalies and pregnancy complications.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/abdomen.JPG' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Abdomen Ultrasound_Scan</h4>
                        <p>It views organs in the abdomen such as the liver, gallbladder, kidneys, spleen and pancreas. It helps assess pain, infection, stones, swelling, fluid collection, masses, and other abdominal organ conditions, may help rule out gallstones, kidney stones, liver disease, and fluid abnormalities.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>









                        <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>








                        <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>







                        <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>







                        <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>







                        <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>










                        <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">
                    <img src="{% static 'images/pelvic.WEBP' %}" class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvic Ultrasound_Scan</h4>
                        <p>It checks the uterus, ovaries, cervix and bladder. Helps detect/rule out cysts, fibroids, pelvic infections, abnormal bleeding, infertility issues, tumors, pregnancy-related concerns,ectopic pregnancy and urinary problems.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book Scan
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}