{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">

        <div class="text-center mb-5">
            <h1 class="fw-bold">Digital X-Ray Services</h1>

            <p class="text-muted">
                High quality digital radiology imaging.
            </p>
        </div>

        <div class="row g-4">

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/xray.WEBP' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Chest X-Ray</h4>
                        <p>used to examine the lungs, heart, and chest structures. It helps detect or rule out conditions such as infections, pneumonia, tuberculosis, fluid in the lungs, heart enlargement, fractures, and other chest abnormalities.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/hsg.WEBP' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>HSG X-Ray</h4>
                        <p>used to examine the uterus and fallopian tubes. It helps assess fertility by checking for blocked fallopian tubes, uterine abnormalities, scar tissue, or other conditions that may affect conception.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/lumbarsacral.WEBP' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Lumbar Sacral Xray</h4>
                        <p>Used to examine the cause of lower back pain. It helps detect or rule out conditions such as fractures, muscle spasm, arthritis, disc space narrowing, spinal alignment problems, degeneration and other causes of lower back pain.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/bariummeal.WEBP' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Barium Meal Xray</h4>
                        <p>A specialized examination of the upper digestive tract, including the esophagus, stomach and small intestine. Helps detect or rule out ulcers, acid reflux, swallowing problems, tumors, inflammation and other gastrointestinal abnormalities.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/calcaneousspur.WEBP' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Calcaneal Spur Xray</h4>
                        <p>Used to examine the heel bone for bony growths known as heel spurs. It helps detect or rule out heel spurs, plantar fasciitis, fractures, arthritis, and other causes of heel pain.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/kneexray.JPG' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Knee X-ray</h4>
                        <p>It views the bones and structures of the knee joint.It help assess pain, swelling, injury, joint alignment, fractures, arthritis, or other bone-related conditions.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/shoulderxray.JPG' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Shoulder Xray</h4>
                        <p>It views the bones and structures of the shoulder joint. It helps assess pain, injury, dislocation, fractures, arthritis, joint alignment, and other bone-related conditions.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/wristxray.JPG' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Wrist Xray</h4>
                        <p>Used to examine bones and structures of the wrist joint. It helps assess pain, injury, fractures, joint alignment, arthritis, and other bone-related conditions.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/Pelvisxray.JPG' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Pelvis/Hip Xray</h4>
                        <p>It views the bones and structures of the pelvis and hip joint. It helps assess pain, injury, fractures, joint alignment, arthritis, and other bone-related conditions.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 shadow service-detail-card">

                    <img src="{% static 'images/elbowxray.JPG' %}"
                         class="service-detail-img">

                    <div class="card-body">
                        <h4>Elbow Xray</h4>
                        <p>It views the bones and structures of the elbow joint. It helps assess pain, injury, fractures, dislocation, joint alignment, arthritis, and other bone-related conditions.</p>

                        <a href="{% url 'book' %}" class="btn btn-primary">
                            Book X-Ray
                        </a>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>

{% endblock %}